{{ partial "head.html" . }}
<div class="wrapper base">
  {{ partial "header.html" .}}
<div class="container " role="main">
    <div class="row">
    <!-- Code that all your templates share, like a header -->
    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}
    {{ block "footer" . }}
    <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
    {{ end }}
    </div>
</div>
</div>

{{ partial "footer.html" . }}


<script>
  //document.querySelector("table").classList.add("table");
  $("table").addClass("table");
  $(".task-list label").has(".task-list-item").append("<i class='fas fa-check'>")

</script>
</body>
</html>