{{ define "main" }}
{{if isset .Params "featureimg"}}
<div class="featuredImg">
  <img src="{{$.Param "featureimg"}}" alt="" width="100%">
</div>
<div class="col-md-12 featuredImgSpace"></div>
{{ end }}
<div class="container single">
  <div class="card col">
    <div class="card-body">
      <h1>{{ .Title }}</h1>
      <div class="date">
        {{.Date.Format "2006-01-02"}}
      </div>
      <hr />
      <div class="content">
        <article class="post-content">
          {{ .Content | emojify }}
        </article>
      </div>
    </div>

    <hr />
    <div
      class="fb-like"
      data-href="{{ .Site.BaseURL }}{{ .RelPermalink }}"
      data-layout="standard"
      data-action="like"
      data-show-faces="true"
    ></div>
    <div
      class="fb-comments"
      data-href="{{ .Site.BaseURL }}{{ .RelPermalink }}"
      data-numposts="5"
    ></div>
  </div>
</div>
{{ end }}
